body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f6fbf8;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77b300 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 36px;
}

header p {
    text-align: center;
    margin: 10px 0 0;
    margin-bottom: 10px;
    font-size: 18px;
}

nav {
    background: #77b300;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #fff;
    color: #333;
}

section {
    padding: 20px 0;
    border-bottom: 1px #e4e4e4 solid;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
   
}

#about{    
    background-color: #e3f8b9;
}

#projects{
    background-color: rgb(248, 242, 248);
}

#skills{
    background-color: #d6faed;

}

#contact{
    background-color: rgb(230, 238, 202);
}